.app {
    margin:5px;
}

.header {
	margin: 5px;
}

.print-button {
	float: left;
    margin: 5px;
	display: inline;
}

.grid {
    margin:5px;
}

.releaseInfo {
    margin-left:5px;
}

/* stuff in display fields... we need both for some reason */
.gridTitle {
    margin: 20px 17px 5px;
	font-weight: bold;
	font-size: 14px;
}

.x-form-display-field{
	font-weight: bold;
	font-size: 14px;
}