.app {
    margin:5px;
}

.header {
	margin: 5px;
}

.grid {
    margin:5px;
}

.releaseInfo {
    margin-left:30px;
}

/* stuff in display fields... we need both for some reason */
.gridTitle {
    margin: 20px 17px 5px;
	font-weight: bold;
	font-size: 14px;
}

.x-form-display-field{
	font-weight: bold;
	font-size: 14px;
}

.release-notes {
	margin: 10px;
}